ul > li {
  background: rgba(3, 6, 15, 0.911);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem auto;
  max-width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  color: #e6664d;
  text-decoration: none;
}

button {
  background-color: #e6664d;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: #d33a20;
    cursor: pointer;
    transition: ease-in-out 0.5s;
  }
}

.userContainer {
  position: relative;
  padding: 1rem;
}

.userContainer > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  border: 1px solid #e6664d;
  border-radius: 0.5rem;
  outline: none;
}

label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.userContainer > div > button {
  position: absolute;
  right: 0;
}
