<div class="form-container">
  <h2>Login</h2>
  <form>
    <div class="fields">
      <input type="text" id="email" name="email" [(ngModel)]="email" required />
      <label for="email">Email:</label>
    </div>
    <div class="fields">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
      <label for="password">Senha:</label>
    </div>
    <button type="submit" (click)="onLogin()">Entrar</button>
  </form>
</div>
