<form class="form-container">
  <h2>Registrar Ponto</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="formRecord" novalidate>
    <div class="fields">
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        required
      />
      <label for="name">Nome:</label>
      <div
        class="required-container"
        *ngIf="
          formRecord.get('name')?.hasError('required') &&
          formRecord.get('name')?.touched
        "
      >
        Nome é <strong>obrigatório</strong>
      </div>
    </div>
    <div class="fields">
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        required
      />
      <label for="email">Email:</label>
      <div
        class="required-container"
        *ngIf="
          formRecord.get('email')?.hasError('email') &&
          formRecord.get('email')?.touched
        "
      >
        Por favor informe um email válido
      </div>
      <div
        class="required-container"
        *ngIf="
          formRecord.get('email')?.hasError('required') &&
          formRecord.get('email')?.touched
        "
      >
        Email é <strong>obrigatório</strong>
      </div>
    </div>
    <div class="fields">
      <input
        maxlength="14"
        minlength="14"
        type="text"
        id="cpf"
        name="cpf"
        formControlName="cpf"
        maxlength="14"
        required
      />
      <label for="cpf">CPF:</label>
      <div
        class="required-container"
        *ngIf="
          formRecord.get('cpf')?.hasError('minlength') &&
          formRecord.get('cpf')?.touched
        "
      >
        Por favor informe um cpf válido
      </div>
      <div
        class="required-container"
        *ngIf="
          formRecord.get('cpf')?.hasError('required') &&
          formRecord.get('cpf')?.touched
        "
      >
        Cpf é <strong>obrigatório</strong>
      </div>
    </div>
    <div class="fields">
      <input
        type="text"
        id="phone"
        name="phone"
        maxlength="15"
        formControlName="phone"
      />
      <label for="phone">Celular:</label>
    </div>
    <div class="fields">
      <input
        type="text"
        id="skills"
        name="skills"
        formControlName="skills"
        placeholder="Git, React, PHP, NodeJS..."
        required
      />
      <label for="skills">Conhecimentos:</label>
    </div>
    <button type="submit">Registrar</button>
  </form>
</form>
