<form class="form-container">
  <h2>Validar Ponto</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="formValidate" novalidate>
    <div class="fields">
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        required
        readonly
      />
      <label for="name">Nome:</label>
    </div>
    <div class="fields">
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        required
        readonly
      />
      <label for="email">Email:</label>
    </div>
    <div class="fields">
      <input
        maxlength="14"
        minlength="14"
        type="text"
        id="cpf"
        name="cpf"
        formControlName="cpf"
        maxlength="14"
        required
        readonly
      />
      <label for="cpf">CPF:</label>
    </div>
    <div class="fields">
      <input
        type="text"
        id="phone"
        name="phone"
        maxlength="15"
        formControlName="phone"
        required
        readonly
      />
      <label for="phone">Celular:</label>
    </div>
    <div class="fields">
      <input
        type="checkbox"
        id="authenticated"
        name="authenticated"
        formControlName="authenticated"
      />
      <label for="authenticated">Validado:</label>
    </div>
    <div class="fields">
      <input
        type="text"
        id="skills"
        name="skills"
        formControlName="skills"
        placeholder="Git, React, PHP, NodeJS..."
        required
        readonly
      />
      <label for="skills">Conhecimentos:</label>
    </div>
    <button type="submit">Registrar</button>
  </form>
</form>
